@model IEnumerable<incident_reporting_web_application.Models.Hearing.ForHearing>

@{
    ViewBag.Title = "Cases For Hearing";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .need-req{
        font-weight: 600;
        color:red;
    }
</style>

<div class="container mt-5 mb-5 px-3 py-4 shadow rounded">

    <h1 class="color-heading"><span style="text-decoration:underline">@ViewBag.HearingType</span> Hearing</h1>

    <div class="table-responsive mt-3">
        <table class="table table-hover for-datatable align-middle">
            <thead>
                <tr>
                    <td>Case No.</td>
                    <td>Case Title</td>
                    <td>Complainant(s)</td>
                    <td>Respondent(s)</td>
                    <td>Witness</td>
                    <td>Hearing Date</td>

                    @{ 
                        if (ViewBag.HearingType == "Conciliation")
                        {
                            <td>Conciliation Requirement</td>
                        }
                        else if (ViewBag.HearingType == "Arbitration")
                        {
                            <td>Arbitration Requirement</td>
                        }
                    }

                    <td>Actions</td>
                </tr>
            </thead>

            <tbody>
                @foreach(var record in Model)
                {
                    <tr>
                        <td>@record.CaseNumber</td>
                        <td>@record.CaseTitle</td>
                        <td>@string.Join(" || ", record.Complainants)</td>
                        <td>@string.Join(" || ", record.Complainants)</td>
                        <td>@string.Join(" || ", record.Complainants)</td>
                        <td>@record.HearingDate.ToString("MMM dd, yyyy, hh:mm tt")</td>
                        
                        @{ 
                            if (ViewBag.HearingType == "Conciliation")
                            {
                                if (record.NeedRequirement){<td class="need-req">Needs Pangkat Constitution Notice</td> }
                                else{ <td>-</td> }
                            }
                            else if (ViewBag.HearingType == "Arbitration")
                            {
                                if (record.NeedRequirement){<td class="need-req">Needs Arbitration Agreement</td> }
                                else{ <td>-</td> }
                            }
                        }

                        <td class="d-flex flex-column">
                            <div class="d-grid gap-2">
                                @{
                                    if (record.NeedRequirement == true && ViewBag.HearingType == "Conciliation") 
                                    { 
                                        <a href="/Notice/ManageCaseNotice" class="btn btn-sm btn-info">Create Notice</a> 
                                    } 
                                    else if (record.NeedRequirement == true && ViewBag.HearingType == "Arbitration")
                                    {
                                        <a href="" class="btn btn-sm btn-info">Create Arbitration Agreement</a>
                                    }
                                    else 
                                    { 
                                        <a href="/Hearing/RecordHearing?hearingtype=@ViewBag.HearingType" class="btn btn-sm btn-primary">Go to Hearing</a> 
                                    }
                                }
                                <a href="/Notice/ManageCaseNotice" class="btn btn-secondary btn-sm">Add Witness</a>
                                <a href="/Hearing/FileCourtAction" class="btn btn-outline-danger btn-sm">File Court Action</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
