@model incident_reporting_web_application.Models.KPForms.ComplaintFormModel

@{
    ViewBag.Title = "Create Incident Report";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    #page-content a {
        color: #5b6d5b;
        text-decoration: none;
    }

    #page-content a:hover {
        color: black;
        text-decoration: underline;
    }

</style>

<div class="container mt-5 mb-5 px-3 py-4 shadow rounded" id="page-content">
    <h1 class="color-heading pb-4">Create Incident Report Record</h1>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @*complainants*@
            <div class=" rounded" id="dynamic-complainant">
                <div class="row g-0 ">
                    <div class="col-lg-6 ">
                        <p class="color-title d-block my-auto" style="font-size:18px; font-weight: 600">Complainant(s)</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-end rounded">
                            <a href="#dynamic-complainant" onclick="AddComplainant()" class="">Add another complainant</a>
                        </div>
                    </div>
                </div>

                <div id="name-container" class="rounded mb-0" style="background-color: white">

                    @*row*@
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatingLName" name="last-name" required />
                                <label for="floatingLName">Last Name</label>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mt-3 mt-lg-0">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatinfLName" name="first-name" required />
                                <label for="floatingfName">First Name</label>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 mt-3 mt-lg-0">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatingmName" name="middle-name" required />
                                <label for="floatingmName">Middle Name</label>
                            </div>
                        </div>


                        <div class="col-lg-1 d-block mt-3 m-lg-auto">
                            <a href="#dynamic-complainant" class="btn btn-danger btn-sm d-block my-auto mx-auto disabled text-white" onclick="RemoveMe(this)">Remove</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="form-group pt-4">
                <label class="control-label color-title">Incident Case</label>
                <select type="text" class="form-select form-selectmb-3">
                    <option value="">Verify the incident report case...</option>
                    @foreach (var c in ViewBag.KPCases)
                    {
                        <option>@c</option>
                    }
                </select>
            </div>

            <div class="form-group pt-4">
                @Html.LabelFor(model => model.ViolationDesc, htmlAttributes: new { @class = "control-label col-md-12 color-title" })
                <div class="col-md-12">
                    @Html.TextAreaFor(model => model.ViolationDesc, new { @class = "form-control", rows = "3", cols = "5" })
                    @Html.ValidationMessageFor(model => model.ViolationDesc, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group pt-4">

                @Html.LabelFor(model => model.ReliefGrant, htmlAttributes: new { @class = "control-label col-md-12 color-title" })
                <div class="col-md-12">
                    @Html.TextAreaFor(model => model.ReliefGrant, new { @class = "form-control", rows = "3", cols = "5" })
                    @Html.ValidationMessageFor(model => model.ReliefGrant, "", new { @class = "text-danger" })
                </div>
            </div>

            @*respondent*@
            <div class="rounded pt-4" id="dynamic-respondent">
                <div class="row g-0">
                    <div class="col-lg-6 ">
                        <p class="color-title d-block my-auto" style="font-size:18px; font-weight: 600">Respondent(s)</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-end rounded">
                            <a href="#dynamic-respondent" onclick="AddRespondent()" class="">Add another respondent</a>
                        </div>
                    </div>
                </div>

                <div id="respondent-container" class="rounded mb-0" style="background-color: white">

                    @*row*@
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatingLName" name="last-name" required />
                                <label for="floatingLName">Last Name</label>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mt-3 mt-lg-0">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatinfLName" name="first-name" required />
                                <label for="floatingfName">First Name</label>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 mt-3 mt-lg-0">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatingmName" name="middle-name" required />
                                <label for="floatingmName">Middle Name</label>
                            </div>
                        </div>


                        <div class="col-lg-1 d-block mt-3 m-lg-auto">
                            <a href="#dynamic-respondent" class="btn btn-danger btn-sm d-block my-auto mx-auto disabled text-white" onclick="RemoveRespondent(this)">Remove</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="form-group pt-4">
                @*@Html.LabelFor(model => model.DateReported, htmlAttributes: new { @class = "control-label col-md-12" })*@
                <label class="color-title control-label col-md-12">Date of Incident</label>
                <div class="col-md-12">
                    @*@Html.EditorFor(model => model.DateReported, new { htmlAttributes = new { @class = "form-control datepicker" } })*@
                    <input type="date" value="" class="form-control" required />
                    @Html.ValidationMessageFor(model => model.DateOfIncident, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group pt-4">
                <div class="col-md-6">
                    <label for="complainantSignature" class="form-label color-title">Complainant(s) Digital Signature</label>
                    <input class="form-control mb-1" type="file" id="complainantSignature" multiple required>
                    <a class=" text-primary" style="text-decoration:underline" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="openModal()">No digital signature?</a>
                </div>
            </div>

            <div class="form-check form-switch pt-4">
                <input class="form-check-input" type="checkbox" id="signPunongBrgy" onclick="signPB(this)">
                <label class="form-check-label" for="signPunongBrgy" id="chkLabel">Signed by the Punong Barangay</label>
            </div>

            <div class="form-group pt-4">
                <div class="col-md-12">
                    <input type="submit" value="Create Incident Report" class="btn btn-primary" id="createReport" disabled/>
                </div>
            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        function signPB(checkbox) {
            // If the checkbox is checked, display the output text
            if (checkbox.checked == true) {
                document.getElementById("chkLabel").classList.add("color-title");
                document.getElementById("createReport").disabled = false;
            } else {
                document.getElementById("chkLabel").classList.remove("color-title");
                document.getElementById("createReport").disabled = true;
            }
        }

        function AddComplainant() {
            var container = $("#name-container");
            $(container).append
                (`

                    <div class="row mt-3">
                            <div class="col-lg-4">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="floatingLName" name="last-name" required />
                                    <label for="floatingLName">Last Name</label>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 mt-3 mt-lg-0">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="floatinfLName" name="first-name" required />
                                    <label for="floatingfName">First Name</label>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 mt-3 mt-lg-0">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="floatingmName" name="middle-name" required />
                                    <label for="floatingmName">Middle Name</label>
                                </div>
                            </div>


                            <div class="col-lg-1 d-block mt-3 m-lg-auto">

                                <a href="#dynamic-complainant" class="btn btn-danger btn-sm d-block my-auto mx-auto text-white" onclick="RemoveMe(this)">Remove</a>
                            </div>
                        </div>
                    `);
        };

        function RemoveMe(element) {
            var elem = document.getElementById("name-container");
            elem.removeChild(element.parentNode.parentNode);
        }

        function AddRespondent() {
            var container = $("#respondent-container");
            $(container).append
                (`
                        <div class="row mt-3">
                            <div class="col-lg-4">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="floatingLName" name="last-name" required />
                                    <label for="floatingLName">Last Name</label>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 mt-3 mt-lg-0">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="floatinfLName" name="first-name" required />
                                    <label for="floatingfName">First Name</label>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 mt-3 mt-lg-0">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="floatingmName" name="middle-name" required />
                                    <label for="floatingmName">Middle Name</label>
                                </div>
                            </div>


                            <div class="col-lg-1 d-block mt-3 m-lg-auto">

                                <a href="#dynamic-respondent" class="btn btn-danger btn-sm d-block my-auto mx-auto text-white" onclick="RemoveRespondent(this)">Remove</a>
                            </div>
                        </div>
                    `);
        };

        function RemoveRespondent(element) {
            var elem = document.getElementById("respondent-container");
            elem.removeChild(element.parentNode.parentNode);
        }
    </script>
}